{% extends 'base.html' %}
{% block content %}

<h1>Chimp Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ chimp.name }}</span>
                <p>Weight {{ chimp.weight }}.lbs</p>
                <p>Description: {{ chimp.description }}</p>
                <p>Age: {{ chimp.age }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'chimps_update' chimp.id %}">Edit</a>
                <a href="{% url 'chimps_delete' chimp.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_shift' chimp.id %}" method="post">
            {% csrf_token %}
            {{ shift_form.as_p }}
            <input type="submit" class="btn" value="Add Shift">
        </form>
        <table class="striped">
            <thead>
                <tr><th>Date</th><th>Shift</th></tr>
            </thead>
            <tbody>
                {% for shift in chimp.shift_set.all %}
                    <tr>
                        <td>{{shift.date}}</td>
                        <td>{{shift.get_shiftSeg_display}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    var selectEl = document.getElementById('id_shiftSeg');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}